body {
    font-family : 'Great Vibes', cursive;
    background-color : #f7ede3;
}

h2 {
    font-size: 2.0rem;
    color : darkslategrey;
}

#calendar-container {
    max-width: 420px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #27272a;
}

#calendar-container::after {
    content : '';
    position : absolute;
    inset : 0;
    pointer-events : none;
    background : 
        radial-gradient( white 1px, transparent 2px ),
        radial-gradient( white 1.5px, transparent 2.5px ),
        radial-gradient( white 2px, transparent 3px );
    background-size : 80px 80px, 60px 60px, 40px 40px;
    animation :
        snow_layer1 15s linear infinite,
        snow_layer1 10s linear infinite,
        snow_layer3  7s linear infinite;
    opacity : .15;
}

@keyframes snow_layer1 {
    from { background-position : 0 0, 0 0, 0 0; }
    to { background-position : 80px 800px, 80px 800px, 80px 800px;}
}
@keyframes snow_layer2 {
    from { background-position : 0 0, 0 0, 0 0; }
    to { background-position : -60px 600px, -60px 600px, -60px 600px; }
}
@keyframes snow_layer3 {
    from { background-position : 0 0, 0 0, 0 0; }
    to { background-position : 0 400px, 0 400px, 0 400px; }
}

#tree-bg {
    background : linear-gradient(
        to top,
        #10b981 0%,
        #059669 50%,
        #047857 100%
    );
    transform : scaleX( 1.1 );
    filter : brightness( 1.2 );
    z-index : 0;
    top : 20px;
    bottom : -50px;
    left : -10%;
    right : -10%;
}